altair
pandas
pandasai==0.2.15
pdfplumber
pypdf==3.9.0
streamlit==1.22.0
streamlit-chat==0.0.2.2
tiktoken==0.4.0
hugchat==0.0.8
beautifulsoup4==4.12.2
openai==0.27.7
openapi-schema-pydantic==1.2.4
streamlit
python-dotenv==1.0.0
accelerate==0.21.0
bitsandbytes==0.40.2
protobuf==3.20.3
scipy==1.11.1
sentencepiece==0.1.99
torch==2.0.1
transformers==4.31.0
requests
numpy
html-parser
regex
tiktoken
langchain==0.0.180
openai[embeddings]
